# Place in /lib/udev/rules.d/
# sudo groupadd -f uinput
# sudo gpasswd -a $USER uinput
# sudo chmod 660 /dev/uinput
KERNEL=="uinput", GROUP="uinput", MODE:="0660"
SUBSYSTEM=="input", GROUP="uinput", MODE:="0660"
